.register{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%), url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
  object-fit: cover;
  
  .top{
    
    .wrapper{
      margin: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .logoPic{
      margin-right: 10px;
      width: 5rem;
    }
    
    .loginBtn{
      background: red;
      border: none;
      padding: 2px 5px;
      color: white;
      font-size: .8rem;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
    }
  }
  
  .container{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    top: 0;
    left: 0;
    margin-top: 150px;
    position: absolute;
    
    h1{
      font-size: 25px;
    }
    
    h2{
      font-size: 20px;
    }
    p{
      font-size: 18px;
      margin-top: 10px;
    }
    
    .input{
      align-self: center;
      margin-top: 15px;
      border: none;
      height: 40px;
      width: 80%;
      display: flex;
      align-items: center;
      border-radius: 6px;
      justify-content: space-between;
      background: white;
      overflow: hidden;
      
      
      input{
        flex: 9;
        height: 100%;
        border: none;
        padding-left: 10px;
        font-size: 15px;
        outline: none;
      }
      
      button{
        flex: 3;
        border: none;
        height: 100%;
        background-color: red;
        color: white;
        padding: 5px;
        font-size: 11px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}